body {
	font-family: "メイリオ",sans-serif; 
	margin: 0px;
	width: 93%;
	min-width: 800px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 1px 2px 10px rgba(100, 100, 100, 0.5);
	padding: 5px;
	font-size: 14px;
}
.title {
	float: right;
	margin-top: 36px;
	font-size: 19px;
	color: #000077;
	cursor: pointer;	
}
.titleimg {
	margin-top: 2px;
}
.headerdiv {
	height: 64px;
}
.footerdiv {
	height: 64px;
}
.simple_table{
	width: 100%;
	border-collapse: collapse;
}
.simple_table th{
	padding: 4px;
	vertical-align: center;
	color: #333;
	background-color: #eee;
	border: 1px solid #b9b9b9;
}
.simple_table td{
	vertical-align: center;
	text-align: center;
	padding: 4px;
	background-color: #fff;
	border: 1px solid #b9b9b9;
}
.bar {
	margin: 0px;
	padding: 0px;
	background-image: url("/Images/2nd/title_bar.gif");
	height: 20px;
	width: 100%;
}
.navi {
	margin-top:5px;
	height: 30px;
}
.navi select,.navi input {
	height: 23px;
}
#rsv_day {
	padding: 2px;
	width: 85px;
	padding: 0px;
	text-align: center;
}
#prev_day, #next_day {
	padding: 0px;
	width: 23px;
}
#today {
	padding: 0px;
	width: 40px;
}
#today, #prev_day, #newreg {
	margin-left: 10px;
}
#newreg {
	padding: 0px;
	width: 70px;
}
div.DayWeek {
	float: right;
	margin-top: 2px;
	margin-right: 5px;
}
.DayWeek input[type="radio"] {
  display: none;
}
.DayWeek label {
  border-top: solid 1px #999999;
  border-bottom: solid 1px #999999;
  border-right: solid 1px #999999;
  background-color: #cccccc;
  padding: 5px;
}
.DayWeek > label:first-of-type {
  border-left: solid 1px #999999;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.DayWeek > label:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.DayWeek input[type="radio"]:checked + label {
  background-color: #ffffff;
}
#room {
	float: left;
	width: 150px;
	border-collapse: separate;
	border-spacing: 0px 1px;
	margin-left: 5px;
	margin-right: 1px;
}
#room th {
	height: 50px;
	border: #777 1px solid;
	background-color: #999;
}
#room td {
	height: 70px;
	border: #999 1px solid;
	background-color: #d3f0fc;
	text-align: center;
}
#rsvdata {
	width: 780px;
	border-collapse: separate;
    border-spacing: 0px 1px;	
	margin-bottom: 10px;
}
#rsvdata th {
	height: 50px;
	line-height: 50px;
	border: #999 1px solid;
	background-color: #ccc;
}
#rsvdata td {
	height: 70px;
	border: #999 1px solid;
	background-color: #fafafa;
}
.colheader {
	float: left;
	height: 50px;
	cursor: pointer;
}
.cell {
	float: left;
	height: 70px;
}
.discell {
	float: left;
	height: 70px;
}
.rline1 {
	border-right: #aaa 1px dotted;
}
.rline2 {
	border-right: #999 1px solid;
}
.ui-selecting {
	background: #BFFF66;
}
.kaigi_no {
	width: 30px;
}
.kaigi_name {
	width: 230px;
}
.kaigi_del {
	width: 30px;
}
.data_base {
	position: relative;
}
.data_waku {
	position: absolute;
	background: rgba( 255, 255, 204, 0.50 );
	display: none;
	font-size: 14px;
	height: 66px;
	line-height: 15px;
	padding-top: 2px;
	border: 1px #666 solid;
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
	text-align: center;
}
.info {
	color:blue;
	margin: 5px 0px 0px 0px;
}
.map{
	color:blue;
	text-decoration : underline;
}
#kaigi {
	width: 200px;
}
#rday {
	width: 110px;
}
#stime,#etime {
	width: 60px;
}
#cmt {
	width: 200px;
	height: 60px;
}
div.tooltip	{
	width: 693px;
	height: 495px;
	position: absolute;
	left: -9999px;
	background: #EEE;
	background-image:url(./map.jpg);             /* 画像のURLを指定       */
    background-repeat:  no-repeat;                /* 画像の繰り返しを指定  */              
}
div.tooltip p{
	color: #FFF;
	background: #222;
	padding: 5px 10px;
}